<html>
  <head>
    <style>
     table {
        border-collapse: collapse;
        width: 100%;
      }
      th {
        color: black;
        font-size: 25px;
      }
    </style>
      <table>
        <tr>
          <th>Home </th>
          <th>About </th>
          <th>Regestration </th>
          <th>Login</th>
      </tr>
    </table>
  </head>
  <body bgcolor="73dcff" align="center">
  
    <%= yield %>
  </body>
</html>